@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.currency {
  height: 130px;
  width: 130px;
}

.info {
  max-height: 350px;
  scrollbar-width: none;
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.wrap::-webkit-scrollbar {
  display: none;
}

.wrap {
  max-height: 80vh;
  overflow: scroll;
  scrollbar-width: none;
}

.month-area {
  max-height: 80%;
  /* overflow-y: hidden; */
}
